@model IEnumerable<BidWheels.Models.Car>

@{
	ViewData["Title"] = "Index";
}

<h2 class="text-center mb-5">Cars</h2>

<div class="row mb-5">
	<div class="col">
		<a class="btn btn-primary" asp-action="Create">Add Car</a>
	</div>
	<div class="col">
	</div>
</div>

<table class="table">
	<tr>
		<th>Brand</th>
		<th>Model</th>
		<th>Year</th>
		<th>Mileage</th>
		<th>Engine</th>
		<th>Transmission</th>
		<th>Color</th>
		<th>Image</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Brand.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Model)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Year)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Mileage)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Engine.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Transmission.Type)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Color.Name)
			</td>
			<td>
				<img src="/cars/@item.ImageFileName" width="100" />
			</td>
			<td style="white-space:nowrap">
				<a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
</table>