@model IEnumerable<BidWheels.Models.Auction>

@{
    ViewData["Title"] = "Auctions";
}

<h2 class="text-center mb-5">Auctions</h2>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Auction</a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Starting Price</th>
            <th>Current Bid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@Url.Content("~/cars/" + item.Car.ImageFileName)" alt="Car Image" class="img-thumbnail" style="max-width: 150px; height: auto;" /></td>
                <td>@Html.DisplayFor(modelItem => item.Car.Brand.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Car.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                <td>@Html.DisplayFor(modelItem => item.StartingPrice) EUR</td>
                <td>@if (item.CurrentBid > 1)
                    {
                        @Html.DisplayFor(modelItem => item.CurrentBid)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StartingPrice)
                    } EUR</td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
