@model List<BidWheels.Models.Auction>

@{
    ViewData["Title"] = "My Auctions";
}

<h1>My winning auctions</h1>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Car</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Starting Price</th>
                <th>Current Bid</th>
                <th>Current Winner</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td><img src="@Url.Content("~/cars/" + auction.Car.ImageFileName)" alt="Car Image" class="img-thumbnail" style="max-width: 150px; height: auto;" /></td>
                    <td>@auction.Car.Model</td>
                    <td>@auction.StartTime</td>
                    <td>@auction.EndTime</td>
                    <td>@auction.StartingPrice EUR</td>
                    <td>@(auction.CurrentBid.HasValue ? auction.CurrentBid.Value+" EUR" : "No bids yet")</td>
                    <td>YOU</td>
                    <td><a asp-action="Details" asp-route-id="@auction.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No auctions found.</p>
}
